@import 'src/assets/styles/_variables.scss';


.container {
 background-color: #1f1f20;
 max-width: 1000px;
 display: flex;
 width: 100%;
 flex-direction: column;
 padding: 16px;
 gap: 16px;
 border-radius: 16px;
 -webkit-box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
 -moz-box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
 box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
 color: #fff;

 @media screen and (min-width: $breakpoint-sm) {
  //font-size: 32px;
 }
}

.container:hover {
  color: #fff;
}

.headerWrapper {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.gameInTurn {
 text-align: left;
}

.detailsWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
 justify-content: center;
 align-items: center;
}

.image {
 width: 100px;
 height: 100px;
 background-color: #fff;
 color: #000;
 border-radius: 4px;
}