.container {
  background-color: #1f1f20;
  box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
  padding: 16px;
  border-radius: 16px;
  overflow: auto;
  max-width: 1200px;
  height: max-content;
  width: 100%;
  margin: 20px auto;
  color: #ffffff;
}

.week {
  margin-bottom: 24px;
  border-bottom: 2px solid #333;
  padding-bottom: 16px;
  &:last-child {
    border-bottom: none;
  }
}

.matches {
  list-style-type: none;
  padding: 0;
}

.match {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #28282a;
  &:last-child {
    border-bottom: none;
  }
}

.teams {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.homeTeam, .awayTeam {
  flex-basis: 35%;
}

.score {
  flex-basis: 30%;
  text-align: center;
}

h1, h2 {
  color: #e0e0e0;
}

h2 {
  margin-top: 10px;
  font-size: 1.2rem;
}
