@import '../../../../assets/styles/variables';

.container {
      display: flex;
      justify-content: space-around;
      align-items: center;
  flex-direction: column;
  gap: 16px;
      height: 100%;

    @media screen and (min-width: $breakpoint-sm) {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 24px;
    }
  }

.userStatus {
  width: 100%;
  text-align: center;

  span {
    font-weight: bold;
  }

  @media screen and (min-width: $breakpoint-sm) {
    text-align: left;
  }
}

.buttonsWrapper {
  display: flex;
  gap: 4px;
  justify-content: space-around;
  width: 100%;

  @media screen and (min-width: $breakpoint-sm) {
    justify-content: flex-end;
  }
  }

  .button {
    background-color: #1f1f20;
    border-radius: 8px;
    color: #959595;
    border: none;
    padding: 8px 16px;
    transition:
            background-color 0.3s,
            color 0.3s;
    cursor: pointer;
}

  .button:disabled {
    background-color: #1f1f20;
    color: #959595;
    cursor: not-allowed;
  }

  .button[data-type="CONFIRMED"] {
    background-color: #28a239;
    color: #fff;
  }

    .button[data-type="ABSENT"] {
        background-color: #d63031;
        color: #fff;
    }

    .button[data-type="LATE"] {
        background-color: #f39c12;
        color: #fff;
    }

    .button[data-type]:disabled {
        background-color: #1f1f20;
        color: #959595;
    }

span[data-type="CONFIRMED"] {
  color: #28a239 !important;
}

span[data-type="ABSENT"] {
  color: #d63031 !important;
}

span[data-type="LATE"] {
  color: #f39c12 !important;
}
