@import 'src/assets/styles/_variables.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  //overflow-y: auto;
  padding: 16px;
  max-width: 1200px;
  margin: auto;

  @media screen and (min-width: $breakpoint-sm) {
    padding: 64px;
  }
}

.error {
  width: 100%;
  height: 100%;
  display: flex;
    justify-content: center;
    align-items: center;

}

.eventBox {
  width: 100%;
  height: 100%;
  background-color: #1F1F20;
  -webkit-box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
  -moz-box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
  box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
  border-radius: 16px;
  padding: 16px;
}

.eventDetails {
  @extend  .eventBox;

    display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  min-height: 130px;

  h3 {
    justify-self: center;
    align-self: center;
    font-size: 24px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: transparent;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 32px;
    border: none;
    cursor: pointer;
  }

  span {
    font-weight: bold;
  }


  @media screen and (min-width: $breakpoint-sm) {
    flex-direction: row;

  }
}

.icon {
  font-size: 42px;
}

.time {
  justify-self: center;
  align-self: center;
font-size: 64px;
  margin: 0;
padding: 0;
  line-height: 64px;
}

.matchDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
  background-color: #fff;
}

.eventDescription {
  @extend  .eventBox;
  text-align: left;

  @media screen and (min-width: $breakpoint-sm) {

    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.attendanceWrapper {
  @extend  .eventBox;
  display: flex;
  flex-direction: column;
  height: max-content;


  @media screen and (min-width: $breakpoint-sm) {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}

.attendanceList {
  width: 100%;

  @media screen and (min-width: $breakpoint-sm) {
    overflow-y: auto;
  }
}

.lineup {
  @extend  .eventBox;

  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 800px;
}

.player {
  margin: 16px 0;
}

.floatingButton {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #4253ac;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  font-size: 32px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999999;
  cursor: pointer;
  -webkit-box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
  -moz-box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
  box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
}