.container {
  background-color: #1f1f20;
  gap: 4px;
  width: 100%;
  -webkit-box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
  -moz-box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
  box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
  padding: 16px;
  border-radius: 16px;
  overflow: auto;
  max-width: 1200px;
  height: max-content;
}

table {
  width: 100%;
  color: white;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
}

tbody tr {
  width: 100%;
  border-radius: 16px;
}

tbody tr:nth-child(even) {
  background-color: #1f1f20;
}

tbody tr:nth-child(odd) {
  background-color: #28282a;
}

.floatingButton {
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #4253ac;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  font-size: 32px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
  -moz-box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
  box-shadow: 12px 12px 13px -9px rgba(31, 31, 32, 1);
}